.eachBox{
    width:70vw;
    margin:auto;
    border-style: solid;
}
.eachPfp{
    border-radius: 50%;
    width:5vw;
    height:5vh;
}
.card{
    margin:auto;
    margin-top: 30px;
}
div{
    margin:auto;
}
.card-header{
    width:100%;
}