# This is an example of the .env file that you should create in the root of the project
# If you want to access the website from other devices on the same network
# 1. Until A reverse proxy is implemented, I would recommend using some free tunelling service like ngrok
#    to expose the backend to the entire network. "npm start" will already expose the frontend to the network

# The URL of the backend API. If you are using ngrok, you should replace this with the ngrok URL
REACT_APP_API_URL = "" 