/* h1{
    font-size: calc(3.375rem + 1.5vw);
}
.TdRenderImg{
    width:110%;
    height:110%;
}
.barOne{
    width: 20vw;
}
.technologyCircleLine{
    float: left;
}
.blueCircle{
    height:119px;
    width:123px;
    background-color: #00A8E8;
}

.barTwo{

}
.leftSideText{
    text-align: center;
    font-size: 40px;
    margin-top: 30%;
}
img #flask{
    width:85px;
    height:110px;
}
img #mongo{
    width:185px;
    height:122px;
}
img #rabbit{
    width:578px;
    height:386px;
} */

:root {
    --jumbotron-padding-y: 3rem;
  }
  
  .jumbotron {
    padding-top: var(--jumbotron-padding-y);
    padding-bottom: var(--jumbotron-padding-y);
    margin-bottom: 0;
    background-color: #fff;
  }
  @media (min-width: 768px) {
    .jumbotron {
      padding-top: calc(var(--jumbotron-padding-y) * 2);
      padding-bottom: calc(var(--jumbotron-padding-y) * 2);
    }
  }
  
  .jumbotron p:last-child {
    margin-bottom: 0;
  }
  
  .jumbotron-heading {
    font-weight: 600;
    font-size: 50px;

  }
.carousel {
  width:500px;
  height:300px;
  margin: auto;
}
h2{
  margin-top: 30px;
  color:black;
  font-weight: 600;
}
.easy{
  color:#00A8E8;
}
  .jumbotron .container {
    max-width: 40rem;
  }
  .flex-container {
    display: flex;
}
.techText{
  margin-top: 10vh;
  text-align: center;
}
.flex-child {
    flex: 1;
}  

.flex-child:first-child {
    margin-right: 20px;
} 
  footer {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
  
  footer p {
    margin-bottom: .25rem;
  }
  
  .box-shadow { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); }
  .dot {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    display: inline-block;
    
  }
 .blueDot{
  background-color: #00A8E8;
  }
  .aquaDot{
    background-color: #00FFFF;
  }
  .techText{
    width:40vw;
  }
  .carousel img{
    width:20vw;
  }
.topText{
  float:left;
}
.miniPoints{
  margin:auto;
  width:50vw;
}
.orangeDot{
  background-color: orange;
}
.pinkDot{
  background-color: #FF9B9B;
}