.topBox{
    width:70vw;
    margin:auto;
}
.nerfLogo{
    width:483px;
    height:302px;
}
img{
    margin: auto;
    display: block;
}
.nerfText{
    font-size: 60px;
    text-align: center;
}
.generationText{
    font-size: 40px;
}
.yellowDiv{
    background-color: #FBDE00;
    height:35vh;
}
.innerDiv > div{
    width:70%;
    margin:auto;

    /* position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%); */
}