

body {
    background-color: white;
    font-family: 'Ubuntu', sans-serif;
    margin: 0;
}

.main {
    width: 700px;
    height: 400px;
    margin: 7em auto;
    border-radius: 1.5em;
}

.sign {
    padding-top: 40px;
    color: black;
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
    font-size: 48px;
}
/*
.un {
width: 76%;
color: rgb(38, 50, 56);
font-weight: 700;
font-size: 14px;
letter-spacing: 1px;
background: rgba(136, 126, 126, 0.04);
padding: 10px 20px;
border: none;
border-radius: 20px;
outline: none;
box-sizing: border-box;
border: 2px solid rgba(0, 0, 0, 0.02);
margin-bottom: 50px;
margin-left: 46px;
text-align: center;
margin-bottom: 27px;
font-family: 'Ubuntu', sans-serif;
}

.pass {
    width: 76%;
    color: rgb(38, 50, 56);
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 1px;
    background: rgba(136, 126, 126, 0.04);
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    outline: none;
    box-sizing: border-box;
    border: 2px solid rgba(0, 0, 0, 0.02);
    margin-bottom: 50px;
    margin-left: 46px;
    text-align: center;
    margin-bottom: 27px;
    font-family: 'Ubuntu', sans-serif;
}*/

div.space{
    padding-top: 40px;
}

.un:focus, .pass:focus {
    border: 2px solid rgba(0, 0, 0, 0.18) !important;
    
}
/*
.submit {
    cursor: pointer;
    border-radius: 5em;
    color: #fff;
    background: linear-gradient(to right, #486856, #507963);
    border: 0;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 10px;
    padding-top: 10px;
    font-family: 'Ubuntu', sans-serif;
    margin-left: 35%;
    font-size: 13px;
    box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.04);
    display: absolute;
}*/

.forgot {
    text-shadow: 0px 0px 3px rgba(117, 117, 117, 0.12);
    color: white ;
    padding-top: 15px;
}
/*
a {
    text-shadow: 0px 0px 3px rgba(117, 117, 117, 0.12);
    color: green ;
    text-decoration: none
}*/

span.noAccount{
    font-size: 12px;
}
    
div.login-div{
    margin-top: -30px;
}

.logo{
    position: absolute;
    text-align: left;
    margin-top: -100px;
}
.nerfLogo{
    width: 100px;
    height: 100px;
}

div.input-block {
    position: relative;
  }
  div.input-block input {
    font-weight: 500;
    font-size: 1.6rem;
    color: #495055;
    width: 550px;
    padding: 15px 15px;
    border-radius: 1rem;
    border: 2px solid  #D9D9D9;
    outline:none;
  }
  div.input-block span.placeholder {
    position: absolute;
    margin: 17px 70px;
    padding: 0 4px;
    font-family: Roboto, sans-serif;
    color:  #6c757d;
    display: flex;
    align-items: center;
    font-size: 1.6rem;
    top: 0;
    left: 17px;
    transition: all 0.2s;
    transform-origin: 0% 0%;
    background: none;
    pointer-events: none;
  }
  div.input-block input:valid + span.placeholder,
  div.input-block input:focus + span.placeholder {
    transform: scale(0.7) translateY(-25px);
  }
  div.input-block input:focus{
    color: #284B63;
    border-color: #284B63;
  }
  div.input-block input:focus + span.placeholder {
    color: #284B63;
  }